.select {
    border: none;
    background: none;
    color: #60404E;
    font-family: "Golos Text VF";
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.select::-ms-expand {
    display: none;
}